p {
    color: #FE3091;
    font-family: 'Source Code Pro', monospace;
    letter-spacing: .10em; 
    margin: .2rem 0 0 0;
    font-size: 16px;
    
}

.typewriter {
    display: inline-flex;
}

.typewriter p {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid #FE3091; /* The typwriter cursor */
    width: auto;
    display: inline-flex;
    white-space: nowrap; /* Keeps the content on a single 
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    animation: 
      typing 1.0s steps(30, end),
      
      blink-caret .6s step-end infinite;
      
  }
  .typewriter p.disabled {
    color: #FE3091;
    font-family: 'Source Code Pro', monospace;
    width: auto;
    display: inline-flex;
    letter-spacing: .15em; /* Adjust as needed */
    animation: none
      
  }

  .frozen {
    opacity: .3;
  }

  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FE3091 }
  }


  .query, .action {
    color: red;
}

  .player-symbol {
    font-family: 'Mainframe';
    font-size: 40px;
  }

  .opponent-symbol {
    font-family: 'Mainframe';
    font-size: 40px;
    color: #5B13EC;
  }

  .opponent-history {
    color: #5B13EC;
  }

  a {
    text-decoration: none;
  }


